{{#each pages as |page|}}
<div>
  <h1 data-id="{{page._id}}" class="my-page"> <small>{{page.name}}</small></h1>
  <ul data-id="{{page._id}}">
    Name: {{#if page.name}}
      {{page.name}}
    {{else}}
      No name provided.
    {{/if}}
<br>
  Text: {{#if page.text}}
      {{page.text}}
    {{else}}
      No text provided.
    {{/if}}
  <br>
    <input type="button" class="btn classic" data-id="{{page._id}}" data-toggle="modal" data-target="#updateModal" name="Update" id="update-id" value="Update">

    <!--Begin Update Modal -->
    <div class="modal" id="updateModal"  tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Update Page</h4>
          </div>
        <div class="modal-body" data-id="{{page._id}}">
          <form id="update-page" data-id="{{page._id}}">
            <p>Name: <input required type="text" name="page[name]" placeholder="New Name"></p>
            <textarea required type="text" name="page[text]" maxlength="2000" cols="30" rows="4" placeholder="New Text Here"></textarea>
            <br>
            <input type="submit" data-id="{{page._id}}" name="submit" value="Update Instrument">
          </form>
        </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
<!--End of Update Modal   -->
    <button type="button" class="btn classic destroy-id" data-id="{{page._id}}" name="Remove">Remove</button>
</ul>
</div>
<hr>
{{/each}}
