{{#each pages as |page|}}
<div>
  <h1 data-id="{{page.id}}" class="my-page"> <small>{{page.name}}</small></h1>
  <ul data-id="{{page.id}}">
    Name: {{#if page.name}}
      {{page.name}}
    {{else}}
      No name provided.
    {{/if}}

  Text: {{#if page.text}}
      {{page.text}}
    {{else}}
      No text provided.
    {{/if}}
  </ul>
</div>
{{/each}}
